@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin font-sizes($fsize: 16px, $lheight: 28px) {
  font-size: $fsize;
  line-height: $lheight;
}

@mixin sizes($width: 60px, $height: 60px) {
  width: $width;
  height: $height;
}
