$main-color-light: #ffffff;
$main-color-dark: #666666;
$accent-color: #00b2ff;
$socials-color: #cdcdcd;
$background-color-dark: #1b2d37;
$background-color-light: #fafafa;
$border-color: #626962;
$border-color-light: #ebebeb;

$main-font-family: "PT Mono", "Courier", "monospace";
$secondary-font-family: "Roboto Condensed", "Arial", "sans-serif";

$min-mobile-width: 320px;
$max-mobile-width: 767px;
$min-tablet-width: 768px;
$max-tablet-width: 1023px;
$min-desktop-width: 1024px;
$med-desktop-width: 1400px;
