.container {
  width: 60.78%;
  max-width: 1169px;
  min-width: 800px;
  margin-left: auto;
  margin-right: auto;

  &--header,
  &--footer {
    width: 73.7%;
    max-width: 1422px;
  }

  &--promo {
    width: 74%;
    max-width: 1420px;
  }
}

@media (max-width: $max-tablet-width) {
  .container {
    width: 93.3%;
    min-width: auto;

    &--promo {
      width: 77.3%;
    }
  }
}

@media (max-width: $max-mobile-width) {
  .container {
    width: 90.63%;

    &--footer {
      width: 100%;
    }
  }
}
