.page-header {
  max-height: 128px;
  z-index: 1;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 121px;
  padding: 8px 0;
}

.page-header__logo {
  @include sizes(202px, 52px);
  display: flex;

  img {
    width: auto;
  }

  img:last-of-type {
    margin-left: 16px;
    margin-top: 5px;
  }
}

.page-header__contacts {
  @include font-sizes(16px, 18px);
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
  margin-left: 2%;

  a {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 7%;
    color: $main-color-light;
    border-color: $main-color-light;
  }

  svg {
    color: $accent-color;
  }
}

.page-header__contacts a:not(.page-header__modal-btn) {
  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }
}

.page-header__contacts .page-header__modal-btn {
  margin-right: 2px;
  margin-left: 4.2%;
  padding: 13px 27px 14px;
}

.page-header__contacts span {
  margin-left: 12px;
}


@media (max-width: $max-tablet-width) {
  .page-header {
    max-height: 92px;
  }

  .page-header__wrapper {
    min-height: 92px;
  }

  .page-header__contacts {
    margin-right: -6px;

    svg {
      @include sizes(36px, 36px);
      color: inherit;
    }

    a:not(.page-header__modal-btn) {
      margin: 0 -5px 0 16px;
      padding: 5px;
      color: $accent-color;

      &:hover,
      &:focus {
        color: $main-color-light;
      }
    }
  }

  .page-header__contacts span,
  .page-header__contacts .page-header__modal-btn {
    display: none;
  }
}


@media (max-width: $max-mobile-width) {
  .page-header {
    max-height: 72px;
  }

  .page-header__wrapper {
    min-height: 65px;
  }

  .page-header__logo {
    @include sizes(39px, 38px);

    img:last-of-type {
      display: none;
    }
  }

  .page-header__contacts a:not(.page-header__modal-btn) {
    margin: 5px -5px 5px 5px;
  }
}
