.page {
  height: 100%;
  overflow-x: hidden;
}

.page body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: $background-color-dark url("../img/bg-main.jpg") top center;

  @media (min-resolution: 2dppx) {
    background: $background-color-dark url("../img/bg-main-2x.jpg") top center;
  }
}

.page main {
  flex-grow: 1;
}

.page footer {
  flex-shrink: 0;
}
