.page {
  height: 100%;
  overflow-x: hidden;
}

.page--inactive {
  overflow-y: hidden;
}

.page body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page main {
  flex-grow: 1;
}

.page footer {
  flex-shrink: 0;
}
