.question-form {
  padding-top: 62px;
  padding-bottom: 112px;
  background: $accent-color url("../img/bg-form.jpg");
  background-size: cover;

  h2 {
    @include font-sizes(36px, 51px);
    margin-bottom: 10px;
  }
}

.question-form__form {
  width: 48.8%;
  min-width: 470px;
  margin-left: auto;
}

.question-form__container {
  position: relative;

  &::before {
    @include sizes(43.5%, 288px);
    content: "";
    position: absolute;
    left: -2%;
    top: 14.5%;
    background: url("../img/bg-airplane.png") center center no-repeat;
    background-size: contain;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-airplane-2x.png");
    }
  }
}

.question-form__wrapper {
  margin-top: 51px;

  input {
    width: 47.4%;
    margin-bottom: 40px;
  }

  textarea {
    flex-basis: 100%;
    min-height: 154px;
    margin-bottom: 43px;
  }

  button {
    flex-basis: 47.6%;
  }

  p {
    flex-basis: 45.7%;
  }
}

@media (max-width: $med-desktop-width) {
  .question-form__container {
    &::before {
      left: -50px;
    }
  }
}

@media (max-width: $max-tablet-width) {
  .question-form {
    padding-top: 52px;
    padding-bottom: 105px;
    background-image: none;

    h2 {
      @include font-sizes(32px, 45px);
      margin-bottom: 18px;
    }
  }

  .question-form__form {
    width: 82%;
    margin-right: auto;
  }

  .question-form__container {
    &::before {
      content: none;
    }
  }

  .question-form__wrapper {
    margin-top: 55px;

    textarea {
      min-height: 160px;
      margin-bottom: 45px;
    }
  }
}


@media (max-width: $max-mobile-width) {
  .question-form {
    padding-top: 8px;
    padding-bottom: 42px;

    h2 {
      @include font-sizes(28px, 39px);
      margin-bottom: 13px;
    }
  }

  .question-form__form {
    width: 100%;
    min-width: auto;
    margin-right: auto;
  }

  .question-form__wrapper {
    margin-top: 27px;

    input {
      flex-basis: 100%;
      margin-bottom: 31px;
    }

    textarea {
      min-height: 103px;
      margin-bottom: 32px;
    }

    p {
      flex-basis: 100%;
    }

    button {
      flex-basis: 100%;
      margin-bottom: 24px;
    }
  }
}
